body {
    background-image: linear-gradient(rgb(255, 226, 230), rgb(255, 74, 104));
}

main {
    margin: 2%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px 10px white;
}

footer {
    text-align: end;
    margin-right: 4%;
    font-weight: bold;
}

h1 {
    margin-left: 3%;
}

nav {
    text-align: end;
    margin-right: 10%;
}

nav a {
    margin-left: 1em;
    text-decoration: none;
    font-weight: bold;
}

#cat-facts-section {
    padding: 1.25em 1.25em;
}

#facts-img {
    width: 35%;
    float: left;
    margin-right: 5%;
    max-height: 400px;
    border-radius: 10%;
}

#cat-types-section {
    clear: both;
    padding-top: 3em;
    display: flex;
    text-align: center;
}

#cat-types-section img {
    width: 65%;
    max-height: 250px;
    margin: auto;
    margin-right: auto;
}

div {
    width: 33%;
    display: flex;
    flex-direction: column;
}

p {
    padding: 1.25em;
}